In [1]:
#yearly period
import pandas as pd
y= pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:
y.is_leap_year

True

In [5]:
#monthly period
m=pd.Period('2019-12')
m

Period('2019-12', 'M')

In [6]:
m.start_time

Timestamp('2019-12-01 00:00:00')

In [7]:
m.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [8]:
m+1

Period('2020-01', 'M')

In [9]:
#daily period
d=pd.Period('2019-02-28', freq='D')
d

Period('2019-02-28', 'D')

In [10]:
d.start_time

Timestamp('2019-02-28 00:00:00')

In [11]:
d.end_time

Timestamp('2019-02-28 23:59:59.999999999')

In [12]:
d+1

Period('2019-03-01', 'D')

In [13]:
#hourly period
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [14]:
h.start_time

Timestamp('2017-08-15 23:00:00')

In [15]:
h.end_time

Timestamp('2017-08-15 23:59:59.999999999')

In [16]:
h+1

Period('2017-08-16 00:00', 'H')

In [17]:
h+pd.offsets.Hour(2)

Period('2017-08-16 01:00', 'H')

In [18]:
#quarterly period
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [19]:
q1+1

Period('2017Q2', 'Q-JAN')

In [20]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [21]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [22]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [23]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

In [24]:
#weekly mode
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [25]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [26]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [27]:
w2-w

In [28]:
#periodindex and periodrange
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [29]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [30]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [31]:
#walmart fiscal year
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [32]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [33]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [36]:
idx = pd.period_range('2019',periods=10,freq='Q-JAN')
idx

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
             '2021Q2', '2021Q3', '2021Q4', '2022Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [37]:
import numpy as np
ps=pd.Series(np.random.randn(len(idx)),idx)
ps

2019Q4   -0.360673
2020Q1   -1.090320
2020Q2   -0.539500
2020Q3   -0.580294
2020Q4   -0.708964
2021Q1    1.072451
2021Q2   -0.155267
2021Q3    0.136095
2021Q4   -1.002223
2022Q1   -1.056469
Freq: Q-JAN, dtype: float64

In [38]:
ps.index

PeriodIndex(['2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1',
             '2021Q2', '2021Q3', '2021Q4', '2022Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [39]:
ps.to_period

<bound method Series.to_period of 2019Q4   -0.360673
2020Q1   -1.090320
2020Q2   -0.539500
2020Q3   -0.580294
2020Q4   -0.708964
2021Q1    1.072451
2021Q2   -0.155267
2021Q3    0.136095
2021Q4   -1.002223
2022Q1   -1.056469
Freq: Q-JAN, dtype: float64>

In [40]:
pst=ps.to_timestamp()
pst

2018-11-01   -0.360673
2019-02-01   -1.090320
2019-05-01   -0.539500
2019-08-01   -0.580294
2019-11-01   -0.708964
2020-02-01    1.072451
2020-05-01   -0.155267
2020-08-01    0.136095
2020-11-01   -1.002223
2021-02-01   -1.056469
Freq: QS-NOV, dtype: float64

In [41]:
pst.index

DatetimeIndex(['2018-11-01', '2019-02-01', '2019-05-01', '2019-08-01',
               '2019-11-01', '2020-02-01', '2020-05-01', '2020-08-01',
               '2020-11-01', '2021-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [46]:
df=pd.read_excel(r"C:\Users\Dell\Desktop\DBT\wmt.xlsx")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [47]:
df.set_index('Line Item',inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [49]:
df=df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [50]:
df.index = pd.PeriodIndex(df.index,freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [51]:
df['Start date'] = df.index.map(lambda x:x.start_time)
df

Line Item  Revenue  Expenses  Profit Start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [52]:
df['End date'] = df.index.map(lambda x:x.end_time)
df

Line Item  Revenue  Expenses  Profit Start date                      End date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999