In [8]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Dell\Desktop\DBT\msft.csv",header=1,parse_dates=True)
df

               Date Time  Price
0   8/17/2017 9:00:00 AM  72.38
1   8/17/2017 9:15:00 AM  71.00
2   8/17/2017 9:30:00 AM  71.67
3  8/17/2017 10:00:00 AM  72.80
4  8/17/2017 10:30:00 AM  73.00
5  8/17/2017 11:00:00 AM  72.50

In [9]:
df.index

RangeIndex(start=0, stop=6, step=1)