In [2]:
birth_year=1997
current_year=2020
age=current_year-birth_year

In [3]:
age

23

In [4]:
base=15
height=22
area=0.5*base*height
area

165.0

In [5]:
price_per_packet=1.49
price_paid=20
price_get=price_paid-(9*price_per_packet)
price_get

6.59

In [6]:
length=5.5
area=length**2
area

30.25

In [11]:
str1="Earth revolves around the sun"
str1[6:14]

'revolves'

In [17]:
str1[-3:]

'sun'

In [20]:
str2='Earth revolves around the "sun"'
str2

'Earth revolves around the "sun"'

In [26]:
t1='i like eating'
t2='veggies'
t3='fruits'
no=2
print(t1+' '+str(no)+' '+ t2 +' '+'and'+' '+t3)

i like eating 2 veggies and fruits

In [27]:
expense=[2200,2350,2600,2130,2190]
spent_extra=expense[1]-expense[0]
spent_extra

150

In [28]:
total_expense=expense[0]+expense[1]+expense[2]
total_expense

7150

In [30]:
2000 in expense

False

In [31]:
expense.append(1980)

In [32]:
expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [33]:
expense[3]=expense[3]-200
expense[3]

1930

In [35]:
usa = [ 'atlanta', 'new york', 'chicago', 'baltimore']

uk = ['london', 'bristol', 'cambridge']

india = ['mumbai','delhi', 'banglore']

In [37]:
city=input("Enter a city name :")
if city in usa:
    print("this city is in usa")
elif city in uk:
    print("this city is in uk")
elif city in india:
    print("this city is in india")
else:
    print("city not found")

Enter a city name :delhi
this city is in india

In [39]:
city1=input("enter first city name:")
city2=input("enter second city name:")
if city1 in usa and city2 in usa:
    print("both cities are in same country")
elif city1 in uk and city2 in uk:
    print("both cities are in same country")
elif city1 in india and city2 in india:
    print("both cities are in same country")
else:
    print("both are in different countries")

enter first city name:delhi
enter second city name:mumbai
both cities are in same country

In [43]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
count=0
for i in result:
    if i=="heads":
        count+=1
print("total number of heads:",count)

total number of heads: 4

In [53]:
expense_list = [2340, 2500, 2100, 3100, 2980]
month_list=["Jan","Feb","March","April","May"]
expense_amount=int(input("enter amount :"))
for i in range(len(expense_list)):
    if expense_amount!=expense_list[i]:
        print("expense not found")
        continue
    else:
        print("expense",expense_amount,"occured in",month_list[i])
        break

enter amount :2100
expense not found
expense not found
expense 2100 occured in March

In [62]:
for i in range(1,6):
    for j in range(i):
        print('*',end='')
    print("\r")

*
**
***
****
*****

In [61]:
def calculate_area(base,height,shape):
    if shape=="rectangle":
        area1=base*height
        return area1
    else:
        area2=(1/2)*base*height
        return area2
n=calculate_area(2,4,"rectangle")
print("area of triangle:",n)

area of triangle: 8

In [76]:
pattern=0
def print_pattern(n):
    if n=="null":
        for i in range(1,6):
            for j in range(i):
                pattern=print('*',end='')
            print("\r")
    else:
        for i in range(n):
            for j in range(i+1):
                pattern=print('*',end='')
            print("\r")
        return(pattern)
p=print_pattern('null')

*
**
***
****
*****

In [ ]:
dict = {}
n = int(input("Enter total numbers of records : "))
for i in range(n):
    i = input("Enter Name : ")
    j = input("Enter Age : ")
    dict[i] = j
    
search_name = input("Enter name for search : ")
if search_name in dict:
    print(dict[search_name])
else:
    print("Not Found")

In [ ]:
dict = {}
n = int(input("Enter total numbers of records : "))
for i in range(n):
    i = input("Enter Name : ")
    j = input("Enter Age : ")
    dict[i] = j
    
search_name = input("Enter name for search : ")
if search_name in dict:
    print(dict[search_name])
else:
    print("Not Found")
print(dict)